# This file is fully repeating the .env file, but with empty values. You can copy this file to .env and fill in the values to use it.

LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_PROJECT=langchain-py-essentials
# If you are on the EU instance:
LANGSMITH_ENDPOINT=https://eu.api.smith.langchain.com

ANTHROPIC_API_KEY=

# https://github.com/langchain-ai/lca-langchainV1-essentials

GITHUB_TOKEN=